# Variaveis de ambiente
.env
backend/.env

# Dependencias e build do frontend
node_modules/
dist/
.vite/

# Anotações e documentos relacionados ao projeto
/docs

# Arquivo docker para desenvolvimento local
/docker-compose.yml

# Arquivos para subida da base e tabelas para desenvolvimento local
/backend/db/database.sql
/backend/db/run.sh
